body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
}

header {
    position: sticky;
    top: 0;
    background: #007BFF;
    color: white;
    z-index: 1000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

section {
    display: flex;
    margin: 20px 0;
    padding: 15px;
    background: white;
    border-radius: 5px;
}

section.small {
    display: flex;
    margin: 20px 0;
    padding: 0 15px;
    background: white;
    border-radius: 5px;
}

section img {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 15px;
}

.date {
    margin-top: 15px;
    text-align: right;
    flex-shrink: 0;
}

h2 {
    color: #007BFF;
    margin-top: 0;
    scroll-margin-top: 100px;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin: 0 15px;
    position: relative;
}

nav ul li ul {
    display: none;
    position: absolute;
    background-color: #003F7F;
    padding: 5px;
}

nav ul li:hover ul {
    display: block;
}

nav ul li ul li a {
    color: white;
    text-decoration: none;
    display: block;
    margin: 15px 0;
}