{% extends 'base.html' %}

{% block title %}PLKTYTC{% endblock %}

{% block style %}{% endblock %}

{% block content %}
<a href="../index.html" class="back-home">← Back to Home</a>
<div class="detail-card">
    <div class="detail-header">
        <div class="logo-large">
            <img src="../assets/images/common/plktytc.jpg" alt="TYT logo">
        </div>
        <h1 class="detail-title">PLK Tang Yuk Tien College</h1>
    </div>
    <h2>The Hong Kong Diploma of Secondary Education (HKDSE)</h2>
    <p class="date-badge">Sep 2015 - July 2021</p><br>
    <h2>HKDSE Results (2021)</h2>
    <ul class="award-list">
        <li>⭐ 4 in Chinese Lanuguage</li>
        <li>⭐ 5** in Physics</li>
        <li>⭐ 5 in English Language</li>
        <li>⭐ 4 in Chemistry</li>
        <li>⭐ 5** in Mathematics (Compulsory part)</li>
        <li>⭐ 5 in Information and Communication Technology</li>
        <li>⭐ 3 in Liberal Studies</li>
        <li>⭐ 5 in Mathematics Extended Part Module 2 (Algebra and Calculus)</li>

    </ul>
    <h2>Robotics Activities</h2>
    <div class="card">
        <div class="card-header">
            <div class="card-logo">
                <img src="../assets/images/common/plktytc.jpg" alt="TYT Robotics logo">
            </div>
            <h3><a href="../robotics/tyt-robotics.html">TYT Robotics Team</a></h3>
        </div>
        <div class="subtitle">Chairman (2019-2020) · Member (2015-2021)</div>
        <div class="date">Sep 2015 - July 2021</div>
        <p>Led team in international competitions. Mentored juniors in robot debugging.</p>
        <div class="award-badge">🌍 WRO International 10th place</div>
        <div class="award-badge">🥇 WRO HK Champion 2019</div>
        <div class="award-badge">🥈 Asia Pacific Robot Alliance Runner-up</div>
        <div class="btn-link"><a href="../robotics/tyt-robotics.html">Learn more →</a></div>
    </div>
</div>
{% endblock %}

{% block script %}{% endblock %}