<footer id="footer">
    <div class="footer-content">
        <div class="footer-contact">
            <a href="https://wa.me/85262188414" target="_blank"><i class="fab fa-whatsapp"></i> +852 6218 8414</a>
            <a href="mailto:dicapriocheung@gmail.com"><i class="far fa-envelope"></i> Gmail</a>
            <a href="https://github.com/DicaprioCheung" target="_blank"><i class="fab fa-github"></i> GitHub</a>
            <a href="https://www.linkedin.com/in/cheung-dick-ho-25b9b4284/" target="_blank"><i
                    class="fab fa-linkedin"></i>
                LinkedIn</a>
        </div>
        <div class="footer-links">
            <a href="../index.html">Home</a>
            <a href="#top">Back to top</a>
        </div>
    </div>
</footer>