<header class="sticky-header">
    <div class="header-container">
        <span class="header-name">Dicaprio Cheung</span>
        <div class="nav-wrapper">
            <div class="nav-item"><a href="/index.html#about" class="nav-button">About</a></div>
            <div class="nav-item">
                <a href="/index.html#education" class="nav-button">Education</a>
                <div class="dropdown-content">
                    <a href="/education/hkust.html">HKUST</a>
                    <a href="/education/plktytc.html">PLK Tang Yuk Tien College</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/index.html#work" class="nav-button">Work</a>
                <div class="dropdown-content">
                    <a href="/experience/10botics.html">10Botics</a>
                    <a href="/experience/hkust-ta.html">HKUST Teaching Assistant</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/index.html#robotics" class="nav-button">Robotics</a>
                <div class="dropdown-content">
                    <a href="/robotics/robocon.html">UST Robotics Team · Robocon</a>
                    <a href="/robotics/tyt-robotics.html">TYT Robotics Team</a>
                </div>
            </div>
            <div class="nav-item">
                <a href="/index.html#projects" class="nav-button">Projects</a>
                <div class="dropdown-content">
                    <a href="/projects/calligraphy-robot.html">Chinese Calligraphy Robot</a>
                    <a href="/projects/glyphmaster.html">Glyphmaster</a>
                    <a href="/projects/2v2-basketball.html">2v2 Basketball Game</a>
                    <a href="/projects/index.html">More Projects...</a>
                </div>
            </div>
            <div class="nav-item"><a href="/index.html#skills" class="nav-button">Skills</a></div>
            <div class="nav-item"><a href="#footer" class="nav-button">Contact Me</a></div>
        </div>
    </div>
</header>